<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>
        cursor-pointer {
            cursor: pointer;
        }
    </style>
    {{!-- Font Awesome --}}
    <script src="https://kit.fontawesome.com/e7b6fab820.js" crossorigin="anonymous"></script>

    <title>SafeSMS</title>

</head>

<body>

    <!-- Nav -->
    <div class="container mt-3 bg-light border rounded">
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="/"><img src="/assets/images/SafeSMS.png" alt="SafeSMS" height="40px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item nav justify-content-end">
                        <a class="nav-link" href="/users">
                        <i class="fas fa-users" id="settings" style="font-size: 20px; line-height: 2;"></i> 
                        Users</a>
                    </li>
                    <li class="nav-item nav justify-content-end">
                        <a class="nav-link" href="/alerts">
                        <i class="fas fa-bullhorn" id="settings" style="font-size: 20px; line-height: 2;"></i> 
                        Alerts</a>
                    </li>
                    <li class="nav-item nav justify-content-end">
                        <a class="nav-link" href="#">
                        <i class="fas fa-cog" id="settings" style="font-size: 20px; line-height: 2;"></i> 
                        Settings</a>
                    </li>
                </ul>
                
                {{!-- FUTURE Search option --}}
                {{!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" id="input-width" type="search"
                        placeholder="Search by name or number">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> --}}

            </div>
        </nav>
    </div>

    <!-- Main content -->
    <!-- users/earthquake/note data will append here -->
    {{{ body }}}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <!-- Additional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/newAdmin.js"></script>
    <script src="/assets/js/newUser.js"></script>
    <script src="/assets/js/newMessage.js"></script>
    <script src="/assets/js/newNote.js"></script>

</body>

</html>