{{!-- Notes window --}}
<div class="container mt-3 bg-light border rounded">
    <div class="container mt-3 pt-3 bg-white border rounded">

        {{#each notes}}
        <h1>{{noteBody}}</h1>

        {{/each}} 
        {{#if noNotes}}
            <h1>No Notes</h1>
        {{/if}}

    </div>
    <form class="form-inline py-3" name="newNote" method="post" action="/notes/newNote">
        <input class="form-control mr-sm-2" id="newNote" type="text" placeholder="Enter to add note">
        <button class="btn btn-outline-success my-2 my-sm-0" id="newNoteSend">Send</button>
    </form>
</div>