<div class="container mt-3 bg-light border rounded">
    <div class="d-flex flex-wrap main-content">
        <!-- users data will append here -->
        <!-- Dynamically create content forEach user by appending userInfo to  main-content. -->
        <h5 class="p-2">Welcome to the users page! Please add new users below.</h5>
        <form class="form-inline p-2 my-2 my-lg-0" name="newUser" method="post" action="/users/create">
            <input class="form-control mr-sm-2 addUser firstName" id="input-width" type="text" placeholder="First Name">
            <input class="form-control mr-sm-2 addUser lastName" id="input-width" type="text" placeholder="Last Name">
            <input class="form-control mr-sm-2 addUser email" id="input-width" type="email" placeholder="Email Address">
            <input class="form-control mr-sm-2 addUser phone" id="input-width" type="tel" placeholder="Phone Number">
            <button class="btn btn-outline-success my-2 my-sm-0" id="btnAddUser" onclick="addUser(this.form)" type="button" value="Submit form">Add</button>
        </form>

        {{#each users}}
            <a href="#">
                <div class="p-5 bd-highlight m-auto">
                    <img src="assets/images/redLight.png" alt="status" height="15px">
                    <span class='firstName'>{{firstName}}</span>
                    <span class='lastName'>{{lastName}}</span>
                </div>
            </a>
        {{/each}}
        {{!-- See newUser.js for adding new users. --}}
    </div>
</div>