{{!-- Messaging window --}}
<div class="container mt-3 bg-light border rounded">
    <div class="container mt-3 pt-2 bg-white border rounded">
        {{!-- Do I need a messaging NAV tab? --}}

        {{!-- user messages align left, admin align right, date stamp --}}
        {{#each messages}}
            {{#if messageAdmin}}
                <h6 id="messageAdmin">{{created}}</h6>
                <h5 class="font-weight-bold" id="messageAdmin">{{messageBody}}</h5>
            {{/if}}
            {{#unless messageAdmin}}
                <h6>{{created}}</h6> 
                <h5 class="font-weight-bold">{{messageBody}}</h5>
            {{/unless}}
        {{/each}} 
        {{#if noMessages}}
            <h5 class="font-weight-bold">No messages</h5>
        {{/if}}

    </div>
    <form class="form-inline py-3 clearfix" name="newMessage" method="post" action="/users/newMessage">
        <input class="form-control mr-sm-2 float-right" id="newMessage" type="text" placeholder="Enter to send">
        <button class="btn btn-outline-success my-2 my-sm-0 float-right" id="newMessageSend">Send</button>
    </form>
</div>