<div class="container mt-3 bg-light border rounded">
    <div class="d-flex flex-wrap main-content">
        <!-- users data will append here -->
        <!-- Dynamically create content forEach user by appending userInfo to  main-content. -->
        <h5 class="my-1 p-2 font-weight-bold">Please add new users below.</h5>
        <form class="form-inline p-2 my-2 my-lg-0" name="newUser" method="post" action="/users/create">
            <button class="btn btn-outline-success mr-sm-2" id="isAdmin" type="button" value="no">Admin?</button>
            <input class="form-control mr-sm-2 addUser firstName" id="" type="text" placeholder="First Name">
            <input class="form-control mr-sm-2 addUser lastName" id="" type="text" placeholder="Last Name">
            <input class="form-control mr-sm-2 addUser email" id="" type="email" placeholder="Email Address">
            <input class="form-control mr-sm-2 addUser phone" id="" type="tel" placeholder="Phone Number">
            <button class="btn btn-outline-success mr-sm-2" id="btnAddUser" onclick="addUser(this.form)"
                type="button" value="Submit form">Add</button>
        </form>
        <div class="container mt-3 bg-light border rounded">
                <div class="row">
                    {{#each users}}
                    <div class="col-sm-6 col-med-4 col-lg-2">
                        <a href=/users/{{_id}}> 
                            <div class="p-2 bd-highlight m-auto">
                                <img class='float-left m-1' src="/assets/images/redLight.png" alt="status" height="15px">
                                <h5 class='float-left firstName'>{{firstName}}</h5>
                                <h5 class='float-left lastName'>{{lastName}}</h5>
                            </div>
                        </a>
                        </div>
                    {{/each}}
            </div>
        {{!-- See newUser.js for adding new users. --}}
        </div>
    </div>
</div>