<div class="container mt-3 bg-light border rounded">
    <div class="d-flex flex-wrap main-content">
    <!-- users data will append here -->
    <!-- Dynamically create content forEach user by appending userInfo to  main-content. -->

        {{#each users}}
            <a href="#">
                <div class="p-5 bd-highlight m-auto">
                    <img src="assets/images/redLight.png" alt="status" height="15px">  
                    <span class='firstName'>{{firstName}}</span> 
                    <span class='lastName'>{{lastName}}</span>
                </div>
            </a>
        {{/each}}
    </div>
</div>